@import 'fonts';
@import 'functions';
@import 'normalize';
@import 'utiles';
@import 'variables';


:root{
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-dark-alternate: #131619;
    --container: 1920px;
    --container-padding-x: 40px;
    --input-height: 54px;

}


.header{
display: flex;
justify-content: space-between;
align-items: center;
height: $header-height;
gap: 80px;
}
.header__logo{
    display: flex;
}

.header__logo-img{
    width:135px;
    height: auto;
}
.header__navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
    font-size: 12px;
    font-weight: 700;
    color:var(--color-light);
}
.header__navbar-link{
    color: inherit;
    display: flex;
    align-items: center;
    height:90px
}
.header__navbar-link.is-active:after{
    content: '';
    width: 5px;
    aspect-ratio:1;
    border-radius:5px;
    background: var(--color-light);
    margin-left:7px
}
.header__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px
}
.header__action-book{
    height: 38px;
    padding: 7px 26px;
    color: var(--color-dark);
    background:var(--color-light);
    line-height: 24px;
}
.header__action-menu{
    width: 40px;
    aspect-ratio:1;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    align-items: start;
    padding: 8px;
}

.header__action-menu span{
    width: 6px;
    height: 1px;
    background: var(--color-light);
    box-shadow: 16px 0 0 0 white;
}

.banner{
    min-height: calc(100vh - $header-height);
    width: 100%;
    background-color: var(--color-dark-alternate);
    display: flex;
    justify-content: end;
    flex-direction: column;
    font-family:Heebo, sans-serif;
}
.banner__info{
   margin-inline: auto;
   width: fit-content;

}
.banner__info-content{
    display: flex;
    align-items: end;
    font-size: clamp(12px, 1.56vw, 30px);
    line-height: clamp(14px,1.97vw, 38px );
    text-transform: uppercase;
    margin-bottom: 30px;
    &:before{
        content:'';
        width: clamp(60px, 10.1vw, 194px);
        background-image: url('./../images/Vector.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        aspect-ratio: 1;
        margin-inline: 30px;
        color: white;
    }
}

.banner__title{
    font-size: clamp(36px, 18.75vw, 360px);
    font-weight: 700;
    line-height: 80%;
}

.banner__pagination{
    display: flex;
    justify-content: center;
}
.banner__pagination-list{
    display: flex;
    gap: 14px;
}
.banner__pagination-btn{
    display: inline-flex;
    padding: 7px;
    background-color: transparent;
    border: 1px solid transparent;
    &::after{
        content:'';
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid white;
        background-color: transparent;
        transition-duration: $transition-duration
    }
    &.is-current{
        &::after{
            background-color: white;
        }
    }
    &:not(.is-current):hover:after{
        border-color:$light-gray;
    }
}

.motivation__item-card{
display: flex;
align-items: center;
justify-content: center;
gap: clamp(20px, 10.72vw, 206px);
}
.motivation__item{
    background-color: #000000;

    &:nth-child(even){
        background-color: #131619;
        .motivation__item-card{
            flex-direction: row-reverse;
        }
        .motivation__item-img{
            margin-bottom: 0;
        }
    }
}
.motivation__item-img{
    margin-block: -50px;
}

.motivation__card-body{
    padding-left: 35px;
}
.backdrop-title{
    position: relative;
    z-index: 2;
    font-family: Heebo;
  
    &::before{
        content:'';
        right: calc(100% + 8px);
        width: 26px;
        height: 40px;
        background: url('./../images/Frame.svg') center / contain no-repeat;
        position: absolute;

    }
    &::after{
        content: attr(data-title);
        font-size: 2.8em;
        position: absolute;
        z-index: -2;
        top:-0.45em;
        left: -0.6em;
        font-family: Yantramanav;
        color: transparent;
        -webkit-text-stroke: 1px $gray;
        text-stroke: 1px $light-gray;

    }
}
.motivation__card-content{
    font-size: 16px;
    line-height: 28px;
    color: $light-gray;
    font-family: Heebo;
    text-transform: none;
    width: 23.1vw;
    margin-bottom: 37px;
}

.training__types{
    padding-block:  70px 120px;
    background-color: #000000;
}
.training__types-list{
display: grid;
align-items: center;
grid-template-columns: repeat(6, 1fr);
}
.training__types-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 80px;
    background: url('./../icons/svg-arrow.svg') 100% 0/80px no-repeat;
    img{
        width: 150px;
        height: 140px;
    }
}

.training__type-name{
    font-size: 16px;
    text-wrap-mode: nowrap
}

.join__us-video{
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
    background: url('../images/section.elementor-section.jpg') center / cover no-repeat;
}
.join__us{
    background-color: #131619;
}
.join__us-video-content{
    width: 100%;
    max-width: 960px;
    height: auto;
   margin: auto;
}
.join__us-video-play{
    position: absolute;
    top: 50%;
    left: 50%;  
    translate: -50% -50%;
    width: 200px;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition-duration: .2s;
    &::after{
        content: '';
        width: 30px;
        height: 40px;
        background: url('../images/svg.qodef-svg--button-arrow.svg') center/30px 40px  no-repeat;
    }
 &:hover{
    transform: scale(.8);
    background: rgba(0,0,0,0.3)
 }
}
.join__us-description{
    margin-bottom: 150px;
}
.join__us-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(64px, 9.75vw, 180px);
    font-weight: 700;
    line-height: clamp(40px, 11.25vw, 216px);
    position: relative;
    margin-top: -0.5em;
    margin-bottom: 60px;
    &::after {
        content: '';
        display: inline-block;
        width: 0.7em;
        aspect-ratio: 1;
        background: url('../images/Vector.svg') center / 100% no-repeat;
        transform: rotate(-90deg);
        margin-inline: .14em;
        
    }
}
.join__us-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.join__us-subtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.backdrop-title.centered{
 display: flex;
 flex-direction: column;
 align-items: center;
 &:not(:last-child){
    margin-bottom: 15px;
 }
 &::after{
    left: 50%;
    translate: -50% 0;
    top: -0.4em;
}
}
.join__us-content{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;  
    text-align: center;
}
.join__us-form-button{
    height: var(--input-height);
    color: white;
}
.join__us-form-section{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.join__us-username,
.join__us-email{
    max-width: 400px;
}
.location{
  margin-inline: auto;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background: black;
}
.locaton-map-image{
    max-width: 100%;
    max-height: auto;
}
.location__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 80px 15px;
}
.location__body-header{
    margin-bottom: 14px;
}
.location__body-content{
    text-transform: none;
    width: 60%;
    margin-bottom: 37px;
    color: $light-gray;
    font-weight: 300
}
.family__body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 132px 15px 62px;
text-align: center;}
.family__body-title{
    margin-bottom: 7px;
}
.family__gallery{
display: flex;
gap: 25px;
overflow-x: scroll;
scroll-snap-type: x mandatory;
    img{
        scroll-snap-align: start;
    }
}
.calculate__inner{
    margin-block: 50px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.calculate{
    background-color: #131619;
}
.calculate__body-title{
    margin-bottom: 16px;
}
.calculate__body-description{
    text-transform: none;
    line-height: 28px;
    color:$light-gray;
    margin-bottom: 30px;
    font-weight: 300
}
.calculate__form-button{
    width: 100%;
}
.calculate__form-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    gap:15px 30px ;

}
.activity-factor{
grid-column: -1/1
}

.calculate__form-body{
    margin-bottom: 26px;
}

.calculate__table{
    max-width: 610px;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    z-index: 2;
    display: flex;
        align-items: center;
        justify-content: center;
    &::after{
        content: '';
        position: absolute;
        width: 610px;
        max-width: 100%;
        aspect-ratio: 1;
        left: 50%;
        top:50%;
        translate: -50% -50%;
        border-radius: 50%;
        background-color: black;
        z-index: 1;
    }
}
.table__data{
    position: relative;
    z-index: 10;
    border-collapse: collapse;
    th{
        padding-block: 20px ;
        text-align: start;
        font-weight: bold;
        color:white;
    }
    td{
        padding-block: 15px;
        font-weight: 300;
        color:$light-gray;
        text-transform: none;
    }
    tfoot{
        td{
            padding-bottom: 0;
            padding-top: 33px;
        }
        b{
            color: white
        }
    }
    :is(th, td) {
        padding-right: 30px;
        &:not(:first-child){
            padding-left: 30px;
        }
        &:not(:last-child){
            border-right: 1px solid $gray;

        }
    }
    tbody >tr {
        border-top: 1px solid $gray
    }
    tbody tr:last-child td:first-child{
        position: relative;
        &::before{
            content: '';
            width: 70%;
            height: 1px;
            background-color: $gray;
            position: absolute ;
            bottom: 0;
            right: 0;
          }

    }
}

.footer__main{
    background: #000000;
    padding-inline: 15px;
}
.footer__main-inner{
    display: flex;
    flex-direction: column;
    padding-block: 135px 150px;
    gap: clamp(20px, 4.68vw, 60px);
}
.footer__title{
    display: grid;
    grid-template-columns: 20.77% auto;
    gap: clamp(20px, 4.61vw, 60px);
    align-items: center;
}
.footer__body{
    display: grid;
    grid-template-columns: 20.77% repeat(3, 1fr);
    gap: clamp(20px, 4.61vw, 60px);
    flex-wrap: nowrap;
}
.footer-description{
    font-weight: 300;
    font-size: 20px;
    a{
        color: #ffffff;
    }
}

.footer__column{
    
    p, a, time, address{
        text-transform: none;
        color: white;
        font-style: normal;
        font-weight: 300;
    }
    p:not(:last-child){
        margin-bottom: 14px;
    }
    address{
        margin-bottom: 35px;
    }
    
}
.footer__form{
    position: relative;
    display: flex
;
    flex-direction: column;
    align-items: end;
    
}
.footer__subscribe-button{
    width: 54px;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    border: none;
    margin-top: -54px;
    &.btn-arrow:before{
        top: 0;
    }

}
.footer__email{
    border-color: $light-gray;
}
.footer__soc1al-list{
    padding-block: 30px;
    display: flex;
    gap: 18px;
}
.footer__soc1al-link svg{
    width: 28px;
    aspect-ratio: 1;
    path{
        fill: white
    } 
}

.footer__subtitle{
    font-weight: bold;
    line-height: 38px;
    font-size: 22px;
    color: white;
    text-wrap-mode: nowrap;
    margin-bottom: 14px;
}

.footer__extra{
    display: flex;
    align-items: center;
    background-color: #131619;
    padding-block: 14px;
    padding-inline: 15px;
    text-transform: none;
    font-size: 14px;
    font-weight: 300
    a{
        color: white
    }

}
.footer__extra-inner,
.footer__main-inner
{
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    a{
        color: white
    }
 
}



@import 'media';